In [11]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
path="/content/drive/MyDrive/Colab_Notebooks/Feature selection data.csv"
ames=pd.read_csv(path)

In [3]:
ames.head()

   Id  MSSubClass  MSZoning  ...  SaleType  SaleCondition  SalePrice
0   1          60         3  ...         8              4     208500
1   2          20         3  ...         8              4     181500
2   3          60         3  ...         8              4     223500
3   4          70         3  ...         8              0     140000
4   5          60         3  ...         8              4     250000

[5 rows x 81 columns]

In [21]:
X=ames.drop(['SalePrice'],1)
y=ames['SalePrice'].copy()

#Splitting of data
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.3, random_state=0) 

#Creating temp. dataframe
X_train['Class']=y_train
t_corr=X_train.corr()
t_corr=t_corr['Class']


#Selecting columns having correlation higher than 0.5
corr_columns=t_corr[abs(t_corr)>0.5].index

#Dropping the column `Class`
corr_columns=corr_columns.drop('Class')
print(corr_columns)
#Updating train and test dataframes
X_train_new=X_train[corr_columns]

X_test_new=X_test[corr_columns]

#Initialising the model
model=LinearRegression()

#Fitting the model
model.fit(X_train_new,y_train)

#Finding the score of the model
corr_score=model.score(X_test_new,y_test)
print(corr_score)

#Checking how many columns were selected
print(len(X_train_new.columns))

Index(['OverallQual', 'YearBuilt', 'YearRemodAdd', 'ExterQual', 'BsmtQual',
       'TotalBsmtSF', '1stFlrSF', 'GrLivArea', 'FullBath', 'KitchenQual',
       'TotRmsAbvGrd', 'GarageCars', 'GarageArea'],
      dtype='object')
0.7227056628201058
13

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy